.card__bascket {
  position: absolute;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/card/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  right: 10px;
  top: 10px;
}
