.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
  }