.popup__saved {
    width: 358px;
    background-color: #000000;
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    margin: 55px auto 34px auto;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
  }
  .popup__saved:hover{
    opacity: .6;
  }
@media screen and (max-width:600px){
  .popup__saved{
    width: 238px;
    line-height: 46px;
    font-size: 14px;
    margin: 46px auto 0 auto;
    line-height: 40px;
  }

}
