.popup__input-error {
  display: block;
  font-family: "Inter","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  margin-left: 33px;
  color: #ff0000;
}
