.popup__input-error {
  font-family: "Inter","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #ff0000;
  margin-top: 5px;
  opacity:1 !important;
}
