.profile__avatar {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
  object-fit: cover;
}

@media screen and (max-width: 881px) {
  .profile__avatar {
    margin: 43px 0 0 0;
  }
}
