.popup__window {
  width: 432px;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media screen and (max-width:600px){
  .popup__window{
    width: 282px;
    padding-bottom: 25px;
  }
}
