.profile__avatar {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 50px 0 0;
  }
  @media screen and (max-width: 881px) {
    .profile__avatar {
  
      margin: 38px 0 22px 0;
    }
  }