@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-block/profile__info-block.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/popup__add-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__bascket/card__bascket.css);
@import url(../blocks/card/__photography/card__photography.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__button/card__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__exit/popup__exit.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__saved/popup__saved.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/_type_image/popup_type_image.css);
@import url(../blocks/popup/__container/_type_image/popup__container_type_image.css);
@import url(../blocks/card/__button/_active/card__button_active.css);
@import url(../blocks/popup/__cartion/popup__caption.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/-error/popup__input-error.css);
@import url(../blocks/popup/__saved/-invalid/popup__saved-invalid.css);
@import url(../blocks/popup/__input/-invalid/popup__input-invalid.css);
@import url(../blocks/popup/__message/__job/popup__message__job.css);
@import url(../blocks/popup/__message/__name/popup__message__name.css);
@import url(../blocks/popup/__message/__text/popup__message__text.css);
@import url(../blocks/popup/__message/__url/popup__message__url.css);




