body {
  background-color: #000000;
}
.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 880px;
  margin-top: 45px;
  opacity: 0.7;
  border-bottom: 1px solid #545454;
}
.header__logo {
  padding-bottom: 41px;
}
.profile {
  margin: 36px auto 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 880px;
}
.profile__info {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile__info2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile__title {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffff;
}
.profile__subtitle {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffff;
}
.profile__avatar {
  max-width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 50px 0 0;
}
.profile__button {
  display: block;
  min-width: 150px;
  height: 50px;
  background-color: #000000;
  border: 1px solid #fff;
  margin-left: auto;
}
.profile__button__vector {
  margin: auto;
}
.profile__edit_button {
  width: 24px;
  margin-top: auto;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000000;
  margin-left: 18px;
}
.profile__edit_button2{
  background-image: url("../images/rfhfylfibr.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;

}
.elements {
  margin: 50px auto 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  gap: 17px;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 500px;
    gap: 14px;
  }
}
.card {
  background-color: #fff;
  border-radius: 10px;
}
.card__photography {
  width: 282px;
  height: 282px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 31px 0 25px 21px;
}
.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__button {
  display: block;
  background-color: white;
  border: 0;
  margin: 31px 30px 25px 0px;
  max-width: 22px;
  max-height: 22px;
}
.footer {
  margin: 50px auto;
  max-width: 880px;
}
.footer__copyright {
  color: #545454;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
}
.popup__form{
  width: 532px;
  height: 400px;
}
.form {
  width: 462px;
  height: 372px;
  background-color: #fff;
  margin:auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.popup__title {
  margin: 34px auto 54px auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
}
.popup__input_name {
  border: 0px;
  outline:none;
  border-bottom: 1px solid #000000;
  width: calc(100% - 72px);
  margin: 0 auto;
}
.popup__input_job {
  border: 0px;
  border-bottom: 1px solid #000000;
  width: calc(100% - 72px);
  margin: 30px auto 0 auto;
  outline:none;
}
.popup__save {
  width: 358px;
  background-color: #000000;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  margin:auto auto 37px auto;
  text-align: center;
}
.popup__exit{
 background-image:url("../images/Close-Icon.svg");
 background-repeat: no-repeat;
 background-position: center;
 width: 32px;
 background-color:transparent;
 height:32px;
 margin-left:auto;
 display: flex;
 color: transparent;
 border:0;
}
.popup__opened{
  display: flex;
}