.profile__button {
  display: block;
  min-width: 150px;
  height: 50px;
  background-image: url(../../../images/profile/плюс.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border: 1px solid #fff;
  margin-left: auto;
  margin-top: 37px;
  transition: opacity 0.2s ease-in-out;
}
.profile__button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 881px) {
  .profile__button {
    margin: 0 auto;
    width: 282px;
    margin: 0;
    margin-bottom: 36px;
  }
}
