.profile__editButton {
    width: 24px;
    margin-top: auto;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000000;
    margin-left: 18px;
    transition: opacity 0.2s ease-in-out;
  }
  .profile__edit_button:hover {
    opacity: 0.6;
  }
@media screen and (max-width:881px){
  .profile__edit_button{
    width: 18px;
    margin: 10px 0 0 6px;
    height: 18px;
  }

}
