.popup__cards {
  opacity: 0;
  animation: ani 0.4s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
