.popup__title {
    margin: 34px auto 54px auto;
    font-family: "Inter","Arial",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
  }
@media screen and (max-width:500px){
  .popup__title{
    font-size: 18px;
    line-height: 22px;
  }
  
}